@model TagSetViewModel
@await Component.InvokeAsync("PageHeader",
    new
    {
        model = new PageHeaderViewModel()
        {
            BackgroundImage = Model.BackgroundImage,
            HeaderTitle = Model.HeaderTitle,
            PageTitle = Model.PageTitle
        }
    })
@{
    ViewData["Title"] = Model.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
            <h1>Keywords</h1>

            <p>
                <a class="btn btn-dark" asp-action="Create" asp-controller="Tags" asp-route-id="@Model.BlogPostId">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Created On
                        </th>
                        <th>
                            Modified On
                        </th>
                     
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Tags)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedOn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModifiedOn)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>